h3 {
    font-weight: 500 !important;
}

.nombreTitulo{
    font-size: 12px;
}
.nombreSubtitulo{
    font-size: 11px;
    padding: 0px !important;
    margin-top: -7px;
    color: #9c9c9c;
}
mat-form-field{
    width: 100%;
}