<mat-card class="background_user_connection">
  <div class="cuerpo">
    <div class="row">
      <div class="col-sm-12">
        <mat-card-title>Información</mat-card-title>
        <mat-card-subtitle>Información de las versiones del sistema de facturación electrónica en linea.</mat-card-subtitle>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <mat-list>
            <h1>Versiones 1.0.X</h1>
            <div mat-subheader>Funcionalidades</div>
            <div *ngFor="let element of abouts">
              <br>
              <mat-list-item style="margin-bottom: 10px;">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <div mat-line>{{ element.version }}</div>
                  <div mat-line style="z-index: 1; color: #999;">{{ element.fecha }}</div>
              </mat-list-item>
              <div class="container-fluid">
                  <ul class="list-group list-group-flush" *ngFor="let elements of element.descripcion "> 
                      <li class="list-group-item" style="text-align: justify;"><span class="prefijo"></span> {{ elements.name }}</li>
                  </ul>
              </div>
            </div>
            <!--mat-divider></mat-divider-->
        </mat-list>
        </div>
      </div>
    </div>
  </div>
  </mat-card>