.cuerpo{
  padding: 20px;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
  
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.prefijo{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: black;
}
