
    <!--mat-card-header class="card_header_user_connection">
      <mat-card-title>Autenticación Token SIN</mat-card-title>
    </mat-card-header-->    
    <app-token-connection></app-token-connection>  
<!--mat-tab-group mat-align-tabs="start">
    <mat-tab label="Token">
      <ng-template matTabContent>
        
      </ng-template>
      
    </mat-tab>
    <mat-tab label="Usuario de Conexión">
      <ng-template matTabContent>
      <app-user-conection></app-user-conection>
    </ng-template>
    </mat-tab>
  </mat-tab-group-->
