<table mat-table [dataSource]="dataSource" matSort matTableResponsive>
  <ng-container matColumnDef="logo">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"></th>
  <td mat-cell *matCellDef="let element" > 
      <ng-container *ngIf="element.Bloquear == '1'; then ActivoE; else InactivoE"></ng-container>          
      <ng-template #ActivoE>       
          <mat-icon style="color: #7072bf !important" >settings</mat-icon>
      </ng-template>
      <ng-template #InactivoE>       
          <mat-icon style="color: rgb(240 133 148)" >settings</mat-icon>
      </ng-template>
  </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="Grupo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
      <td mat-cell *matCellDef="let element"> {{element.Grupo}} </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="Propiedad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Propiedad </th>
      <td mat-cell *matCellDef="let element"> {{element.Propiedad}} </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
  </ng-container>
  <!--Column -->
  <ng-container matColumnDef="Bloquear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bloquear </th>
      <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.Bloquear == '1'; then ActivoE; else InactivoE"></ng-container>          
      <ng-template #ActivoE>       
          <span class="badge bg-success">Activo</span>
      </ng-template>
      <ng-template #InactivoE>       
          <span class="badge bg-danger" >Inactivo</span>
      </ng-template>
      </td>
  </ng-container>                      

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>

