.green-icon{
    color: #198754;
}
.badge{
    font-size: large;
}
.controles {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.bg-success{
  color: #7072bf;
  background: #f7f8ff !important;
}

.bg-danger {    
  background: #fff5f8 !important;
  color: #8c435b !important;
}