<mat-dialog-content>
  <mat-card-title>Anulación Factura</mat-card-title>

  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >codigoDocumentoSector :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input
        class="form-control"
        value="{{ data.codigoDocumentoSector }}"
        style="font-size: 12px"
        disabled
      />
    </div>
  </div>
  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >codigoPuntoVenta :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input
        class="form-control"
        value="{{ data.codigoPuntoVenta }}"
        style="font-size: 12px"
        disabled
      />
    </div>
  </div>

  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >codigoSucursal :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input
        class="form-control"
        value="{{ data.codigoSucursal }}"
        style="font-size: 12px"
        disabled
      />
    </div>
  </div>

  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >cuf :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input
        class="form-control"
        value="{{ data.cuf }}"
        style="font-size: 12px"
        disabled
      />
    </div>
  </div>

  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >nit :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input
        class="form-control"
        value="{{ data.nit }}"
        style="font-size: 12px"
        disabled
      />
    </div>
  </div>

  <div class="row" style="font-size: 12px; padding-top: 1%">
    <label
      for=""
      class="control-label col-md-3 col-sm-3 col-xs-12"
      style="text-align: right"
      >Motivo :</label
    >
    <div class="col-md-9 col-sm-9 col-xs-12">
      <mat-form-field class="formPlus">
        <mat-select placeholder="motivo" #motivo matInput>
          <mat-option
            *ngFor="let element of MotivoAnulacion"
            [value]="element.codigoClasificador"
            >{{ element.descripcion }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<div *ngIf="transaccion == 'true'">
  <div *ngIf="Respuesta" class="alert alert-success mt-3 mb-0">
    {{ Respuesta.Respuesta.descripcion }}
  </div>
</div>
<div *ngIf="transaccion == 'false'">
  <div *ngIf="Respuesta" class="alert alert-danger mt-3 mb-0">
    {{ Respuesta.Respuesta.descripcion }}
  </div>
</div>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    (click)="
      AnulacionFactura({
        motivo: motivo.value,
        factura: data
      })
    "
    [disabled]="motivo.value == '' || loading"
  >
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Anular
  </button>
  <button
    mat-raised-button
    color="warn"
    type="button"
    (click)="onNoClick()"
    mat-flat-button
  >
    Cancelar
  </button>
</mat-dialog-actions>
