mat-form-field{
    width:100%
}
.deshabilitar{
    pointer-events: none;
 }
 input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.contenido{
  padding: 20px;
}