<mat-dialog-content>
    <mat-card-title>Consultar Factura</mat-card-title>
    <div class="row" style="font-size: 12px; padding-top: 1%;">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right;">codigoDocumentoSector :</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control" value="{{data.codigoDocumentoSector}}" style="font-size: 12px;" disabled>
        </div>
</div>
<div class="row" style="font-size: 12px; padding-top: 1%;">
<label for="" class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right;">codigoPuntoVenta :</label>
<div class="col-md-9 col-sm-9 col-xs-12">
<input class="form-control" value="{{data.codigoPuntoVenta}}" style="font-size: 12px;" disabled>
</div>
</div>

<div class="row" style="font-size: 12px; padding-top: 1%;">
<label for="" class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right;">codigoSucursal :</label>
<div class="col-md-9 col-sm-9 col-xs-12">
  <input class="form-control" value="{{data.codigoSucursal}}" style="font-size: 12px;" disabled>
</div>
</div>

<div class="row" style="font-size: 12px; padding-top: 1%;">
<label for="" class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right;">cuf :</label>
<div class="col-md-9 col-sm-9 col-xs-12">
<input class="form-control" value="{{data.cuf}}" style="font-size: 12px;" disabled>
</div>
</div>

<div *ngIf="descripcion" class="alert alert-success mt-3 mb-0">
  {{ descripcion }}
</div>

<!-- <div class="row" style="font-size: 12px; padding-top: 1%;">
  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12" style="text-align: right;">Verificación Estado SIN :</label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <ng-container *ngIf="transaccion == 'true'; then estadoTrue">
    </ng-container>
    <ng-template #estadoTrue>
        <div>
          {{descripcion}}
        </div>
        <div align="right">
          <mat-icon class="icon">check_circle</mat-icon>
        </div>
      
  </ng-template>
  </div>
  </div> -->

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="Consultar()">Consultar</button>
    <button mat-raised-button color="warn" type="button" mat-flat-button matDialogClose>Cancelar</button>
</mat-dialog-actions>