
.form{
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
  }
  .formPlus{
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
  }
  .formMin{
    padding-left: 1%;
    padding-right: 1%;
    width: 25%;
  }
  .center-btn{
    text-align: center;
  }
      
    