<form [formGroup]="" class="normal-form">
  <mat-dialog-content>
    <mat-card-title>Codigo Unico de Facturacion Diaria (CUFD)</mat-card-title>
    <mat-card-subtitle
      >Descripcion de Registro de Punto de Venta</mat-card-subtitle
    >

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Código Control :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.codigoControl }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Código Punto de Venta :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.codigoPDV }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Código Sucursal :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.codigoSucursal }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >CUFD :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.cufd }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >CUIS :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.cuis }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Dirección :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.direccion }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Fecha de Creación :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.fechaCreacion }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Fecha de Vigencia :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.fechaVigencia }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >idUsuario :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.idUsuario }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >listaCodigosRespuestas :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.listaCodigosRespuestas }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >NIT :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.nit }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>

    <div class="row" style="font-size: 12px; padding-top: 1%">
      <label
        for=""
        class="control-label col-md-3 col-sm-3 col-xs-12"
        style="text-align: right"
        >Transaccion :</label
      >
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input
          class="form-control"
          value="{{ data.transaccion }}"
          style="font-size: 12px"
          disabled
        />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-raised-button
      color="warn"
      type="button"
      mat-flat-button
      matDialogClose
    >
      Cerrar
    </button>
  </mat-dialog-actions>
</form>
