<mat-card class="background_user_connection">
    <mat-card-header>
      <mat-card-title>Facturas online - offline</mat-card-title>
      <mat-card-subtitle
        >Recepción y envío de facturas de Sistema de Facturación Electrónica (SIFE) - Impuestos Nacionales (SIAT)</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <iframe
        [src]="safeSrc"
        height="700px"
        width="100%"
      ></iframe>
    </mat-card-content>
  </mat-card>
  