
<!-- AGREGANDO SIDEBAR FILTRO Y CONTENIDO EN UNO SOLO -->
<mat-drawer-container class="example-container" autosize hasBackdrop="false">
    <!-- MENU DE ACCIONES DEL MODULO -->
    <div class="container-menu">
      <div class="container-menu-iz">
        <div class="container-menu-item ">
  
        </div>
      </div>
      <div class="container-menu-de">
        <div class="container-menu-item ">
            <button mat-raised-button color="primary" (click)="Registro()">
              <mat-icon>add</mat-icon> Nueva Versión SIAT
            </button>
          </div>
        <div class="container-menu-item ">
          <button type="button" class="sidebar-filtro-btn" mat-button (click)="drawer.toggle()">
            <mat-icon>filter_list</mat-icon> Filtro
          </button>
        </div>
      </div>
    </div>
    <!-- SIDEBAR DE FILTRO -->
    <mat-drawer #drawer class="example-sidenav sidebar-filtro" mode="side"  position="end" >
      <h2>Filtros</h2>  
      <button type="button" class="sidebar-filtro-btn" mat-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>

    </mat-drawer>
  
    <!-- CONTENIDO DEL SIDEBAR FILTRO PARA EL MODULO -->
    <div class="example-sidenav-content" >   
  
  <mat-card class="background_user_connection">  
      <div class="row">
        <div class="col-sm-12">
          <mat-card-header>
            <mat-card-title>Asistente de Actualizaciones</mat-card-title>
            <mat-card-subtitle>Configuración de actualizaciones de versionamiento SIFE con el versionamiento de Impuestos Nacionales SIAT.</mat-card-subtitle>
          </mat-card-header>
        </div>
      </div>    

        <table
        mat-table
        [dataSource]="actualizacionService.dataSource"
        class="table_user_connection"
        matSort
        matTableResponsive
        >
  
      <ng-container matColumnDef="icono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">  
          
        </th>
        <td mat-cell *matCellDef="let element" >          
          <ng-container *ngIf="element.estado == 'Activo'; then ActivoE; else InactivoE"></ng-container>          
          <ng-template #ActivoE>       
            <mat-icon style="color: #7072bf !important">folder</mat-icon><mat-icon class="check">done</mat-icon>
          </ng-template>
          <ng-template #InactivoE>
            <mat-icon style="color: rgb(240 133 148)">folder</mat-icon>
          </ng-template>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="codigoSistema">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>codigoSistema</th>
        <td mat-cell *matCellDef="let element">{{ element.codigoSistema }}</td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>version</th>
        <td mat-cell *matCellDef="let element">{{ element.version }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaCreacion</th>        
        <td mat-cell *matCellDef="let element">
            {{ element.fechaCreacion | date: "EEEE d MMMM y HH:mm:ss ":"UTC" }}
        </td>        
      </ng-container>
      <ng-container matColumnDef="fechaModificacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaModificacion</th>        
        <td mat-cell *matCellDef="let element">
            {{ element.fechaModificacion | date: "EEEE d MMMM y HH:mm:ss ":"UTC" }}
        </td>        
      </ng-container>
      <ng-container matColumnDef="sincronizarCatalogos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>sincronizarCatalogos</th>        
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="true" [checked]="element.sincronizarCatalogos" ></mat-checkbox>
        </td>        
      </ng-container>
      <ng-container matColumnDef="cufdSolicitar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>cufdSolicitar</th>        
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="true" [checked]="element.cufdSolicitar" ></mat-checkbox>
        </td>        
      </ng-container>
      <ng-container matColumnDef="fechaSolicitar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaSolicitar</th>        
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true" [checked]="element.fechaSolicitar" ></mat-checkbox>
        </td>        
      </ng-container>     

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let element" >
          <ng-container *ngIf="element.estado == 'Activo'; then Activo; else Inactivo">
          </ng-container>
          <ng-template #Activo>
            <span class="badge bg-success">Activo</span>
          </ng-template>
  
          <ng-template #Inactivo>
            <span class="badge bg-danger">Inactivo</span>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="Notificaciones">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #Notificaciones="matMenu">
            <button mat-menu-item (click)="Detalle(element)">
              <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">launch</mat-icon><span>Detalle Técnico</span>
            </button>
            <ng-container *ngIf="element.estado == 'Activo'; then Activo; else Inactivo"></ng-container>
              <ng-template #Activo>
                <button mat-menu-item (click)="ActivarDesactivar(element)">
                  <mat-icon color="warn">toggle_off</mat-icon
                  ><span>Inactivo</span>
                </button>
              </ng-template>
              <ng-template #Inactivo>
                <button mat-menu-item (click)="ActivarDesactivar(element)">
                  <mat-icon color="primary">toggle_on</mat-icon
                  ><span>Activo</span>
                </button>
              </ng-template>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>   
  
    </mat-card>
  
    <mat-menu #Notificaciones="matMenu">
      <button mat-menu-item>Notificacion 1</button>
      <button mat-menu-item>Notificacion 2</button>
    </mat-menu>
  </div>
  </mat-drawer-container>