mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    margin-right: 5px;
}
.codigoMotivoEvento{
    background: #ededed;
    padding: 5px 20px;
    border-radius: 2px;
    font-weight: 500;
}