<h2>Homologación de productos y servicios</h2>
<p>La Homologación de productos y servicios permite 
    al Contribuyente relacionar los códigos utilizados 
    para sus productos y servicios con los códigos genéricos 
    proporcionados por la Administración Tributaria. 
    El proceso de homologación se muestra a continuación:</p>
<ol>
    <li>
        Contribuyente a través de su Sistema Informático de Facturación descarga el listado de productos/servicios a través del servicio Web correspondiente.
    </li>
    <li>
        El “Equipo de homologación” (personal determinado por el Sujeto Pasivo) busca un equivalente de sus productos o servicios en los códigos genéricos del listado que obtuvo de la Administración Tributaria y los relaciona.
    </li>
</ol>
<img src="./../../../assets/png/EjemploHomologacion.PNG" alt="" height="300px">
<p>
    <b>Nota 1:</b> El código de producto del SIN deberá reflejarse en el XML de la factura, sin embargo el código visible en la representación gráfica es el "código interno" que utiliza la empresa para clasificar sus productos/servicios.
</p>
<p>
    <b>Nota 2:</b> En el proceso de homologación se deberá considerar si el producto es importado o nacional, considerando que el código de producto del SIN esta diferenciado en ambos conceptos. 
</p>


