<h2>¿Que es una Sucursal?</h2>
<p>Las sucursales son establecimientos secundarios 
    donde se realiza alguna de las actividades 
    económicas del Contribuyente, tienen una 
    dirección física y están registradas en el 
    Padrón Nacional de Contribuyentes. En el 
    Sistema de Facturación, la emisión de las 
    facturas se realiza por sucursal o casa matriz 
    (sucursal 0).</p>
<h2>¿Como crear una Sucursal?</h2>
<p>Las sucursales tienen que estar autorizadas previamente por Impuestos Nacionales,
    ya validada esta información se procede a la <b>creación</b> de la Sucursal, solicitando luego su <b>CUIS (Código Unico de Inicio de Sesión)</b> y luego para que esta
     Sucursal facture en linea se procede a solicitar su <b> CUFD</b>.
</p>
<h2>Nota</h2>
<p> Los CUFD (Código Único de Facturación Diaria) se solicitan Automaticamente a las 05:00 am diariamente. En el caso de <b>cerrar</b> un <b>CUIS</b> el <b>Punto de Venta</b> y <b>CUFD</b> del mismo queda deshabilitado en Impuestos Nacionales.</p>