<h2>¿Que es un Punto de Venta?</h2>
<p>
    Un punto de venta es un lugar, dispositivo o 
    medio de venta que está asociado a una sucursal 
    o casa matriz y que por su forma de trabajo 
    puede ser fijo (en el caso de puntos de venta 
    para ferias) o móvil (en el caso de camiones 
    de repartidores o de distribución). Los Puntos 
    de Venta no están registrados en el Padrón 
    Nacional de Contribuyentes, pero para fines 
    de facturación, deberán ser registrados a través 
    del Sistema de Facturación y pueden ser:
</p>
<ul>
    <li>
        Comisionistas de acuerdo a normativa vigente;
    </li>
    <li>
        Ventanilla de Cobranza autorizada por la ASFI según normativa;
    </li>
    <li>
        Puntos de Ventas Móviles para venta de bienes o prestación de servicios.
    </li>
    <li>
        Puntos de Venta YPFB para la venta de combustible a precio internacional.
    </li>
    <li>
        Puntos de Venta (Cajeros o similares) para la venta de otros bienes y/o prestación de servicios.
    </li>
    <li>
        Puntos de Venta conjunta, habilitada para emisión conjunta de documentos fiscales.
    </li>
</ul>
<h2>¿Como crear una Punto de Venta?</h2>
<p>Los Puntos de Venta se crean directamente con Impuestos Nacionales, mismos que asignan un código de Punto de Venta que empieza desde 1 hasta N, una vez realizado el registro
     del punto de venta se procede a la solicitud de su <b>CUIS (Código Unico de Inicio de Sesión)</b> y luego para que este punto de venta facture en linea se procede a solicitar su <b> CUFD</b>.
</p>
<p>
    <b>Nota:</b> Para todos los Contribuyentes que estén bajo la modalidad de Facturación Electrónica en Línea y utilicen puntos 
    de venta móviles, se asume que los mismos tienen la capacidad de firmar las Facturas Digitales emitidas o disponen 
    de un servicio centralizado de que les permite firmar los Documentos Fiscales.
</p>