<h2>Facturación Electrónica para contribuyente.</h2>
<p>Modalidad para la emisión de Facturas Digitales firmadas digitalmente, 
    además del uso de Token propio o delegado a través de un Sistema Informático 
    de Facturación autorizado por la Administración Tributaria y su posterior envío, 
    registro y validación en los servidores de base de datos del SIN..</p>
<h2>Características:</h2>
<ul>
    <li>Uso de la Firma Digital.</li>
    <li>Impresión de la Factura Digital de manera opcional.</li>
    <li>Envío individual de la Factura firmada digitalmente en formato XML.</li>
    <li>Envío agrupado en paquete por contingencia de las Facturas en formato XML firmadas digitalmente.</li>
    <li>Envío masivo en forma de paquetes de las Facturas en formato XML firmadas digitalmente.</li>
</ul>
<img src="./../../../assets/png/FacturacionElectronica.png" alt="">